@page "/wizard/game/{id:guid}"

@if (string.IsNullOrEmpty(Game.FirstDealer))
{
    <h1>Select Dealer</h1>
    <InputSelect @bind-Value=firstDealerText class="form-control">
        <option value="@string.Empty">Select Dealer</option>
        @foreach (var player in Game.Players)
        {
            <option value="@player.Name">@player.Name</option>
        }
    </InputSelect>
    <button @onclick="SetFirstDealer" class="btn btn-primary">Set Dealer</button>
}
else
{
    <h1>Round @currentRound</h1>
    @foreach (var player in Game.Players)
    {
        <div class="row">
            <div class="col-auto">
                <p>@player.Name</p>
            </div>
            <div class="col-auto">
                <p>@Game.GetScore(player)</p>
            </div>
            @if (currentDealer == player.Name)
            {
                <div class="col-auto">
                    <span class="badge badge-primary">Dealer</span>
                </div>
            }
        </div>
    }
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Is Dealer</th>
                <th>Bid</th>
                <th>Tricks</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Game.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@(player.Name == currentDealer ? "Yes" : "No")</td>
                    <td>
                        <InputNumber @bind-Value="Game.Rounds[currentRound - 1].Scores[player.Name].Bid" class="form-control"/>
                    </td>
                    <td>
                        <InputNumber @bind-Value="Game.Rounds[currentRound - 1].Scores[player.Name].TricksTaken" class="form-control"/>
                    </td>
                    <td>@Game.Rounds[currentRound - 1].Scores[player.Name].CalculatedScore</td>
                </tr>
            }
        </tbody>
    </table>
}
