@page "/wizard/game/{id:guid}"

@if (isLoading)
{
    <h1>Loading...</h1>
}
else if (string.IsNullOrEmpty(Game.FirstDealer))
{
    <h1>Select Dealer</h1>
    <InputSelect @bind-Value=firstDealerText class="form-control">
        <option value="@string.Empty">Select Dealer</option>
        @foreach (var player in Game.Players)
        {
            <option value="@player.Name">@player.Name</option>
        }
    </InputSelect>
    <button @onclick="SetFirstDealer" class="btn btn-primary mt-2">Set Dealer</button>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <h1>Score Board</h1>
                @foreach (var player in Game.Players)
                {
                    <div class="row">
                        <div class="col-auto">
                            <p>@player.Name</p>
                        </div>
                        <div class="col-auto">
                            <p>@Game.GetTotalScore(player)</p>
                        </div>
                        @if (Game.GetCurrentDealer() == player.Name)
                        {
                            <div class="col-auto">
                                <span class="badge bg-primary">Dealer</span>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col gx-5">
                <h1><span class="bi bi-suit-@Game.Rounds[currentRound - 1].Trump.ToString().ToLower().TrimEnd('s')"></span> Round @currentRound / @Game.NumTotalRounds</h1>
                <div>
                    <InputSelect @bind-Value="Game.Rounds[currentRound - 1].Trump" class="form-control">
                        <option value="@string.Empty">Select Suite</option>
                        @foreach(var trump in Enum.GetValues<Models.Wizard.Trump>())
                        {
                            <option value="@trump">@trump.GetDescription()</option>
                        }
                    </InputSelect>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th></th>
                            <th>Bid</th>
                            <th>Tricks</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Game.Players)
                        {
                            <tr>
                                <td>@player.Name</td>
                                <td>
                                    @if (currentDealer == player.Name)
                                    {
                                        <span class="badge bg-primary">Dealer</span>
                                    }
                                </td>
                                <td>
                                    <InputNumber @bind-Value="Game.Rounds[currentRound - 1].Scores[player.Name].Bid"
                                        class="form-control" tabindex="0" />
                                </td>
                                <td>
                                    <InputNumber @bind-Value="Game.Rounds[currentRound - 1].Scores[player.Name].TricksTaken"
                                        class="form-control" tabindex="-1" />
                                </td>
                                <td>@Game.Rounds[currentRound - 1].Scores[player.Name].CalculatedScore</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-auto">
                        @if (currentRound > 1)
                        {
                            <button @onclick="PreviousRound" class="btn btn-primary m-2">Previous Round</button>
                        }
                        @if (Game.IsValidRound(currentRound))
                        {
                            <button @onclick="NextRound" class="btn btn-primary">Next Round</button>
                        }
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
}
