@page "/wizard/start"

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#players-tab" type="button"
                    role="tab">Players</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings-tab" type="button"
                    role="tab">Settings</button>
            </li>
            @if (SavedGames.Count > 0)
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#load-tab" type="button"
                        role="tab">Load</button>
                </li>
            }
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div id="players-tab" class="tab-pane fade show active" role="tabpanel">
                <ul class="list-group mb-2">
                    @foreach (var player in game.Players)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-2">
                                    <p>@player.Name</p>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-danger"
                                        @onclick="() => RemovePlayer(player)">Remove</button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @if (game.Players.Count < 6)
                {
                    <EditForm Model=createPlayer class="row" OnSubmit=AddPlayer>
                        <div class="col-auto">
                            <InputText class="form-control" @bind-Value=createPlayer.Name placeholder="New Player Name" />
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Add Player</button>
                        </div>
                    </EditForm>
                }
            </div>
            <div id="settings-tab" class="tab-pane fade" role="tabpanel">
                <p>Settings</p>

            </div>
            <div id="load-tab" class="tab-pane fade" role="tabpanel">
                <p>Load</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Type</th>
                            <th>Round</th>
                            <th>Players</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var game in SavedGames)
                        {
                            var url = $"wizard/game/{game.Id}";
                            <tr>
                                <td>@game.CreatedDate</td>
                                <td>@game.LastModifiedDate</td>
                                <td>@game.GameType</td>
                                <td>@game.Rounds.Count / @game.NumTotalRounds</td>
                                <td>@game.Players.Count</td>
                                <td>
                                    <NavLink class="btn btn-primary" href="@url">
                                        <span>Open</span>
                                    </NavLink>
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="() => DeleteGame(game)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        @if (game.Players.Count >= 4)
        {
            <div class="mt-2">
                <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
            </div>
        }
    </div>
</div>